Flask
flask-socketio
flask-cors
python-dotenv
boto3
requests
langchain
langchain-community==0.2.7
langchain-google-genai
faiss-cpu
google-generativeai
gunicorn
Werkzeug
Jinja2
itsdangerous
click
blinker
python-socketio
botocore
jmespath
s3transfer
charset-normalizer
idna
urllib3
certifi
PyYAML
SQLAlchemy
aiohttp
tenacity
dataclasses-json
gunicorn
eventlet==0.33.3
